body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #333;
}

header {
    background-color: #87ceeb;
    color: #fff;
    padding: 20px;
    text-align: center;
}

main {
    padding: 20px;
}

h1, h2 {
    margin: 0 0 20px;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.question {
    margin-bottom: 60px; /* 質問間の余白 */
}

.question-label {
    margin-bottom: 10px;
    display: block;
    text-align: left;
    font-weight: bold; /* 質問を太文字に */
}

.label-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.label-strong-agree, .label-neutral {
    font-weight: bold; /* 太文字 */
    text-align: center;
}

.label-neutral {
    flex: 1;
    text-align: center;
    margin-left: -15%;
}

.buttons-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.buttons-container label {
    flex: 1;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

.buttons-container input[type="radio"] {
    display: none;
}

.buttons-container input[type="radio"] + label span {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #ddd;
}

.buttons-container input[type="radio"]:checked + label span {
    background-color: #87ceeb;
}

.warning {
    color: red;
}

@media (max-width: 600px) {
    .options {
        flex-wrap: wrap;
    }
    .options label {
        flex: none;
        width: calc(16.66% - 10px);
        margin: 5px;
    }
}

/* 追加されたスタイル */
.buttons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px; /* ボタン間の余白 */
}

.buttons label {
    flex: 1;
    text-align: center;
}

.options span {
    font-weight: bold; /* オプションを太文字に */
}

/* 追加スタイル */
.table-container {
    display: grid;
    grid-template-columns: repeat(13, 1fr);
    grid-template-rows: repeat(6, auto);
    gap: 10px;
}

.table-container .empty {
    grid-column: span 13;
}

.table-container .question {
    grid-column: 1 / span 1;
    font-weight: bold;
}

.table-container .label-strong-agree {
    grid-column: 2 / span 1;
    text-align: center;
}

.table-container .label-neutral {
    grid-column: 7 / span 1;
    text-align: center;
}

.table-container .label-strong-agree-right {
    grid-column: 12 / span 1;
    text-align: center;
}

.table-container .buttons-container {
    grid-column: 2 / span 11;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.table-container .options-left {
    grid-column: 2 / span 1;
    font-weight: bold;
}

.table-container .options-right {
    grid-column: 12 / span 1;
    font-weight: bold;
}
