main {
    padding: 20px;
}

h1, h2 {
    margin: 0 0 20px;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.options {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px; /* 質問間の余白 */
}

.labels {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 10px;
}

.buttons {
    display: flex;
    justify-content: center;
}

.buttons label {
    margin: 0 5px;
}

.options label {
    text-align: center;
    cursor: pointer;
    user-select: none;
}

.options label span {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #ddd;
}

.options input[type="radio"] {
    display: none;
}

.options input[type="radio"]:checked + label span {
    background-color: #7cb342; /* 優しめの色に変更 */
}

.question {
    margin-bottom: 40px; /* 質問間の余白を広げる */
}

.question-label {
    margin-bottom: 10px;
    display: block;
    text-align: center;
}

.warning {
    color: red;
}

@media (max-width: 600px) {
    .options {
        flex-wrap: wrap;
    }
    .options label {
        flex: none;
        width: calc(16.66% - 10px);
        margin: 5px;
    }
}
